// light 主题背景颜色
@light-bg: #f7f8f9;
// light 主题文字颜色
@light-color: #000000;
// dark 主题背景颜色
@dark-bg: #000000;
// dark 主题文字颜色
@dark-color: #ffffff;
// 红色
@color-red: #ff0000;
@color-danger: #cc0033;
// 蓝色
@color-blue: #0052d9;
// 滚动条颜色
@scrollbar-color: #e5e5e5;
// 边框颜色
@border-color: #e5e5e5;
// 基础边框
@base-border: 1px solid #e5e5e5;
// 输入框背景颜色
@filled-bg-color: #e5e5e533;
// logo 高度
@logo-height: 50px;
// 底部用户栏高度
@trigger-height: 60px;
// 底部用户栏内容高度
@trigger-content-height: 30px;
// 阴影颜色
@box-shadow: 0 0 5px #e5e5e533;
// 右侧阴影颜色
@box-shadow-right: 2px 0 5px @border-color;
// 表单高度
@form-item-height: 28px;
// 输入框高度
@textarea-line-height: 20px;

html,
body {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: @scrollbar-color @light-bg;
}

.s-sider {
  height: 100vh;
  position: sticky;
  inset-inline-start: 0;
  top: 0;
  border-right: @base-border;
  box-shadow: @box-shadow-right;
}

.s-logo {
  height: @logo-height;
  line-height: @logo-height;

  img {
    line-height: @logo-height;
    height: 25px;
    vertical-align: middle;
    padding: 0 15px;
  }
}

// 折叠时 logo 居中
.ant-layout-sider-collapsed .s-logo {
  text-align: center;

  img {
    padding: 0;
  }
}

.s-menu {
  height: calc(100vh - @logo-height - @trigger-height);
  border-inline-end: none !important;
  overflow-y: auto;
  scrollbar-width: thin;
  // scrollbar-gutter: stable; // 默认显示滚动条，即使没有溢出内容
  scrollbar-color: @scrollbar-color @light-bg;
}

// dark 滚动条
.s-menu.ant-menu-dark {
  scrollbar-color: @scrollbar-color @dark-bg;
}

.ant-table-content {
  scrollbar-width: thin;
  scrollbar-color: @scrollbar-color @light-bg;
}

// 折叠时 group 标题替换为分割线
.ant-layout-sider-collapsed {
  // 第一个 group 不显示分割线
  .ant-menu-item-group {
    .ant-menu-item-group-title {
      display: none;
    }

    & + .ant-menu-item-group {
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 2px;
        margin: 15px auto;
        background: @light-color;
        border: none;
      }
    }
  }

  // dark 主题时分割线改为白色
  .ant-menu-dark .ant-menu-item-group + .ant-menu-item-group::before {
    background: @color-red;
  }
}

// 弹出菜单内容偏移和阴影
.ant-menu-submenu-popup.ant-menu-submenu {
  .ant-menu {
    // 弹出菜单内容偏移，避免与父菜单贴在一起，不好看
    margin-left: 5px;
    box-shadow: @box-shadow;
  }
}

// 菜单主题 - 选中 submenu 标题颜色
.set-menu-submenu-color(@theme, @normal-color, @special-color) {
  .ant-menu-@{theme} {
    .ant-menu-submenu-selected > .ant-menu-submenu-title,
    > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
      color: @normal-color;
    }
  }

  .ant-layout-sider-collapsed .ant-menu-@{theme},
  .ant-menu-submenu-popup.ant-menu-@{theme} {
    .ant-menu-submenu-selected > .ant-menu-submenu-title,
    > .ant-menu .ant-menu-submenu-selected > .ant-menu-submenu-title {
      color: @special-color;
    }
  }
}

.set-menu-submenu-color(light, @light-color, @color-blue);
.set-menu-submenu-color(dark, @dark-color, @color-red);

// 性别图标
.s-badge-gender .anticon {
  font-size: 6px;
  color: #fff;
  border-radius: 10px;
  padding: 2px;
  border: 2px solid #ffffff;
}

// 底部用户栏
.s-trigger,
.s-trigger-menu {
  display: flex;
  align-items: center;
  gap: 15px;

  .s-trigger__avatar,
  .s-trigger-menu__avatar {
    flex-shrink: 0;
    border: 2px solid #ffffff;
    user-select: none;
  }

  .s-trigger__info,
  .s-trigger-menu__info {
    flex: 1;
    overflow: hidden;
    text-align: left;

    .s-trigger__name,
    .s-trigger-menu__name,
    .s-trigger-menu__desc {
      font-size: 13px;
      font-weight: 500;
      line-height: calc(@trigger-content-height / 2);
    }

    .s-trigger__desc,
    .s-trigger-menu__desc {
      font-size: 11px;
      color: gray;
      line-height: calc(@trigger-content-height / 2);
    }
  }
}

// 底部用户栏内容附加样式
.s-trigger {
  padding: calc((@trigger-height - @trigger-content-height) / 2) 15px;
  border-right: @base-border;
}

// 弹出菜单
.s-trigger__menu {
  border: @base-border;
  box-shadow: @box-shadow;

  // 第一个 ant-dropdown-menu-item 设置样式
  .ant-dropdown-menu-item:first-child {
    background-color: #e5e5e555;
    padding: 10px 15px;
  }
}

// 折叠按钮
.s-collapsed,
.s-collapsed:hover {
  width: 25px !important;
  height: 25px;
  font-size: 14px;
  border: @base-border;
  box-shadow: @box-shadow;
  background-color: #ffffff !important;
  z-index: 999;
}

//////////////////////////////////////////////////////////////////////////////////////
// 自定义组件
//////////////////////////////////////////////////////////////////////////////////////
// SCard 样式
//////////////////////////////////////////////////////////////////////////////////////
.s-card {
  padding: 15px;
  box-shadow: @box-shadow;
  border-color: @border-color;

  .ant-card-head {
    min-height: 45px;
    border-bottom: none;
    padding: 0;
  }

  .ant-card-head-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
  }
  
  .s-card__title::before {
    content: "";
    background-image: url('@/assets/image/icon/tag-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transform: translateY(5%);
    width: 12px;
    height: 12px;
    display: inline-grid;
    margin-right: 2px;
  }

  // SCard 描述
  .s-card__description {
    font-size: 12px !important;
    font-weight: normal;
    line-height: 24px;
    color: #00000073;
  }

  .ant-card-body {
    padding: 15px 0 0 0;
  }

  // SCard 按钮组
  .s-card__btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}

//////////////////////////////////////////////////////////////////////////////////////
// 自定义组件
//////////////////////////////////////////////////////////////////////////////////////
// STextArea 样式
//////////////////////////////////////////////////////////////////////////////////////
.s-textarea {
  display: flex;
  border: 1px solid @border-color;
  overflow: hidden;
  background-color: #fff;
  transition: border-color 0.3s;

  &:hover {
    border-color: @border-color;
  }

  &:focus-within {
    border-color: @border-color;
    box-shadow: none;
  }

  // validateStatus="error"
  &--error {
    border-color: @color-danger;

    &:hover {
      border-color: #ff7875;
    }

    &:focus-within {
      border-color: @color-danger;
      box-shadow: none;
    }
  }

  .ant-input {
    padding: 5px;
    line-height: @textarea-line-height;
  }

  .s-textarea__linenum {
    display: flex;
    flex-direction: column;
    background-color: @light-bg;
    border-right: @base-border;
    padding: 5px 0;
    min-width: 40px;
    user-select: none;
    overflow: hidden;
  }

  .s-textarea__linenum-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: @textarea-line-height;
    line-height: @textarea-line-height;
    padding: 0 10px;
    font-size: 12px;
    color: #999;
  }

  .s-textarea__wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
  }

  .s-textarea__input {
    width: 100%;
    border: none !important;
    border-radius: 0;
    resize: vertical;
    font-size: 13px;
    line-height: @textarea-line-height;

    &:focus {
      box-shadow: none !important;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////
// 表单样式优化
//////////////////////////////////////////////////////////////////////////////////////
.ant-form {
  .ant-input-filled,
  .ant-select-filled,
  .ant-input-number-filled,
  .ant-picker-filled {
    border: @base-border;
    background-color: @filled-bg-color;
  }

  .ant-input-filled:hover,
  .ant-input-number .ant-input-number-input:hover,
  .ant-select.ant-select-filled:hover,
  .ant-picker-filled:hover {
    background: #ffffff;
  }

  .ant-input-filled.ant-input-status-error:not(.ant-input-disabled),
  .ant-picker-filled.ant-picker-status-error:not(.ant-picker-disabled) {
    border-color: @color-danger;
  }

  .ant-input-number .ant-input-number-input {
    padding-inline: 10px;
  }

  .ant-input-textarea-show-count .ant-input-data-count {
    bottom: -20px;
    font-size: 10px;
  }

  .ant-select {
    padding-inline: 10px;
    padding-block: 3.43px;
  }

  .ant-form-item .ant-form-item-explain,
  .ant-form-item .ant-form-item-extra {
    line-height: 20px;
    font-size: 12px;
  }

  .ant-select-dropdown .ant-select-item {
    min-height: 20px;
  }

  .ant-slider {
    margin: 0;

    .ant-slider-handle::before,
    .ant-slider-handle::after {
      border-radius: 0;
    }
  }

  .ant-select-multiple {
    padding-block: 3.24px;

    .ant-select-content {
      height: 20px;
      line-height: 20px;

      .ant-select-selection-item {
        font-size: 12px;
        margin-block: 0;
        height: 20px;
        line-height: 20px;
        border: 1px solid #dddddd;
      }

      .ant-select-input {
        height: 20px;
        line-height: 20px;
      }
    }
  }
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today {
  .ant-picker-cell-inner::before {
    border: none;
  }

  .ant-picker-cell-inner {
    color: @color-danger;
    font-weight: bolder;
  }
}

.ant-picker-now-btn,
.ant-picker-now-btn:hover {
  color: #000000;
}

//////////////////////////////////////////////////////////////////////////////////////
// 表格样式优化
//////////////////////////////////////////////////////////////////////////////////////
.ant-table-wrapper .ant-table.ant-table-bordered {
  > .ant-table-container {
    > .ant-table-content,
    > .ant-table-header,
    > .ant-table-body,
    > .ant-table-summary {
      > table {
        > thead > tr,
        > tbody > tr,
        > tfoot > tr {
          > th,
          > td {
            border-inline-end: none;

            &:last-child {
              border-inline-end: 1px solid #f0f0f0;
            }
          }
        }
      }
    }
  }
}

.ant-table {
  .ant-btn-variant-link {
    padding: 0;
    height: 20px;
  }
}

.ant-table-wrapper
  .ant-table-tbody
  .ant-table-row.ant-table-row-selected
  > .ant-table-cell-row-hover {
  background: @light-bg;
}

.ant-pagination .ant-pagination-item {
  border: none;
}

.ant-pagination {
  .ant-pagination-total-text,
  .ant-pagination-item {
    line-height: 20px;
  }

  .ant-select {
    padding: 0 10px;
    line-height: 20px;
    border: none;
  }

  .ant-select.ant-select-outlined:not(.ant-select-disabled).ant-select-focused,
  .ant-pagination-options-quick-jumper input:focus,
  .ant-pagination-options-quick-jumper input:focus-within {
    box-shadow: none !important;
  }

  .ant-select:not(.ant-select-customize) .ant-select-input {
    font-size: 12px;
  }
}

.s-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.s-content {
  padding: 10px;
  padding-top: 0;
}

.ant-breadcrumb-link {
  height: 20px;
  line-height: 20px;
}

.s-login {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .s-login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 'transparent';
    padding: 0 50px;
    height: 80px;
  }

  .s-login-logo {
    height: 30px;
    user-select: none;
  }

  .s-login-github {
    color: #000000;
    font-size: 25px;
  }

  .s-login-content {
    height: calc(100vh - 180px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .s-login-footer {
    height: 100px;
    background-color: 'transparent';
    text-align: center;
  }

  .s-login-container {
    width: 350px;
    border: @base-border;
    padding: 50px 25px 30px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;

    .ant-form-item {
      line-height: 20px;
    }

    .ant-divider-plain.ant-divider-with-text {
      font-size: 12px;
      color: #00000050;
      letter-spacing: 2px;
    }
  }

  .login-version {
    text-align: right;
    margin-top: 20px;
    font-size: 11px;
    color: #00000050;
  }
}
